.flottantgauche, .flottantdroite {
    margin: 2px;
    width: 100px;
    text-align: center;
}

.flottantgauche {
    background-color: yellow;
    float: left;
}

.flottantdroite {
    background-color: rgb(165, 149, 255);
    float: right;
}

.plusflottant {
    top: 1em;
    position: fixed;
}